<div class="container text-center">
    <button (click)="getPeppaGirls()" class="btn btn-success m-2">Get data in alpha component</button>
    <table *ngIf="peppaList && peppaList.length > 0" class="table">
        <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Sex</th>
              <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let peppa of peppaList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ peppa.name }}</td>
            <td>{{ peppa.sex }}</td>
            <td>
                <div style="height: 100px" class="container">
                    <img [src]="peppa.imgUrl" alt="" class="img-fluid mh-100">
                </div>
            </td>
          </tr>
        </tbody>
    </table>
    <button (click)="sendHelloService()" class="btn btn-danger m-2">Say hello to Gamma!</button>
</div>