<div class="container-fluid text-center">

    <h1>Directives and Pipes</h1>
  
    <div class="container">
      <button>Show the girls</button>
      <button>Show the boys</button>
      <button>Show everyone</button>
    </div>

    <!-- <p *ngIf="isVisible">Ez a szöveg csak akkor látható, ha az isVisible értéke igaz.</p> -->

    <!-- <ul>
      <li *ngFor="let item of items">{{ item }}</li>
    </ul> -->

    <p [ngStyle]="{color: 'blue'}">Ez a szöveg kék!</p>

    <!-- <p [ngClass]="{'highlight': isHighlighted}">Ez a szöveg kiemelhető</p> -->

    <div class="container d-flex flex-wrap justify-content-around">
      <div class="card m-3" style="width: 10rem">
        <img
          class="py-2"
          src="https://i5.walmartimages.com/asr/40c4baef-703b-4d2a-8d3d-4e251453950d_1.2e9513fbb59279d2f86d8b9c85863e35.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"
          alt="peppa pig"
        />
        <div class="card-body d-flex align-items-center justify-content-center">
          <h5 class="card-text py-3">Peppa Pig</h5>
        </div>
      </div>
    </div>
  </div>
  