
<div class="container text-center">
    <button class="btn btn-warning m-2">Get data in beta component</button>
    <table *ngIf="false" class="table">
        <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Sex</th>
              <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">0</th>
            <td>name</td>
            <td>sex</td>
            <td>
                <div style="height: 100px" class="container">
                    <img src="" alt="" class="img-fluid mh-100">
                </div>
            </td>
          </tr>
        </tbody>
    </table>
    <button class="btn btn-danger m-2">Say hello to Gamma!</button>
</div>